* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #222;
    line-height: 1.6;
     background-image: url('img/f1car.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar a:hover {
    color: #e10600;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.hero {
    background: white;
    padding: 60px 20px;
    text-align: center;
    margin-top: 15px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.content {
    padding: 40px 20px;
    background: #ffff;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 8px;
}

.content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}    

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    .navbar ul {
      display: none;
      flex-direction: column;
      background: #111;
      position: absolute;
      top: 70px;
      right: 20px;
      width: 200px;
      padding: 20px;
      border-radius: 8px;
    }
    
    .navbar ul.show {
      display: flex;
    }
    
    .hamburger {
      display: block;
    }
  }

  @media (max-width: 480px) {
    .hero h2 {
      font-size: 1.6rem;
    }
    
    .hero p {
      font-size: 1rem;
    }
                                                                   	
